
<!DOCTYPE html>
<html>
    <head>
        <title>Easenote</title>
    </head>
    <body>
        <style>
            body {
                text-align: center;
            }
            .margin-top {
                margin-top: 50px;
            }
        </style>
        <div class='margin-top'>
            <h1><%= title %></h1>
            <p><%- message %></p>
        </div>
      
    </body>
</html>